@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
   margin: 0px;
   padding: 0px;
}
 
html, body {
   min-height: 100vh;
   background-color: darkgrey;
}

header {
   background-color: black;
   color: white;
   text-align: center;
}
header > h1 {
   font-family: 'Passion One', Verdana, Geneva, Tahoma, sans-serif;
   font-size: 8.5vw;
   padding-top: 50px;
   font-variant: small-caps;
}
header > p {
   padding-bottom: 50px;
}
a {
   font-family: 'Passion One', Verdana, Geneva, Tahoma, sans-serif;
   color: white;
   font-weight: bold;
   text-decoration: none;
}
header a:hover, footer a:hover {
   text-decoration: underline;
   font-size: 1.1em;
   transition-duration: 0.7s;
}
main {
   font-family: 'Sriracha', Verdana, Geneva, Tahoma, sans-serif;
}
section {
   padding-top: 10vh;
   padding-bottom: 10vh;
   line-height: 2em;
   padding-left: 30px;
   font-size: 3.5vw;
}
section > p {
   padding-bottom: 3em;
}
section.normal {
   background-color: white;
   color: black;
}
section.imagem {
   background-color: rgb(31, 30, 30);
   color: white;
   box-shadow: inset 2px 4px 15px 0px rgba(0, 0, 0, 0.493);
}
section.imagem > p {
   display: inline-block;
   background-color: rgba(0, 0, 0, 0.432);
   text-align: justify;
   margin-left: 2px;
   padding: 10px;
}
#joaninha {
   background-image: url(imagens/background001.jpg);
   background-position: right center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}
#flores {
   background-image: url(imagens/background002.jpg);
   background-position: right center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}
footer {
   background-color: black;
   color: white;
   font-size: 1.1em;
   text-align: center;
   padding: 10px;
}